In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [7]:
# чтение датасета
ap_ds = pd.read_excel(r"РЖД train\Выгрузки_интересы+обращения+объёмы перевозок\Обращения.xls")

In [8]:
# столбцы, удаляемые за ненадобностью в обучении
drop_cols = [
    "Тип обращения", "Номер", "Тема вопроса", "Количество доработок"
]

# столбцы категорий
cat_cols = [
    "Тема", "Группа вопросов"
]

# столбцы числовых значений
num_cols = []

# столбцы значений в виде даты
date_cols = [
    "Дата"
]

# столбцы идентификаторов
id_cols = ["ID"]

In [9]:
# удаление некоторых столбцов
ap_ds = ap_ds.drop(drop_cols, axis=1, errors="ignore")

# замена столбцов категорий столбцом чисел
for col in cat_cols:
    ap_ds[col] = ap_ds[col].str.lower()
    ap_ds[col] = ap_ds[col].str.strip()
    
    le = LabelEncoder()
    mean_value = le.fit_transform(ap_ds[col].dropna()).mean()
    
    le.fit(ap_ds[col].dropna())
    ap_ds[col] = ap_ds[col].apply(lambda x: le.transform([x])[0] if pd.notna(x) else mean_value)
    ap_ds[col] = ap_ds[col].astype(np.int64)

# замена неизвестных значений на среднее из всех известных и преобразование в int
for col in num_cols:
    mean_value = ap_ds[col].dropna().mean()
    
    ap_ds[col] = ap_ds[col].apply(lambda x: mean_value if pd.isnull(x) else x)
    ap_ds[col] = ap_ds[col].astype(np.int64)

# преобразование данных в тип даты и времени
for col in date_cols:   
    ap_ds[col] = pd.to_datetime(ap_ds[col], format="mixed", dayfirst=True)

# сохранение итогового датасета
ap_ds.to_csv(r"РЖД train\Выгрузки_интересы+обращения+объёмы перевозок\Обращения_Преобразованный.csv")

In [10]:
ap_ds

                    Дата  Тема     ID  Группа вопросов
0    2022-02-01 15:52:00    16  21082               13
1    2024-02-01 10:04:00    21   1923               17
2    2024-02-01 11:25:00    40  11332               13
3    2024-02-01 11:28:00    40  21155               13
4    2024-02-01 11:30:00    47  21283               41
...                  ...   ...    ...              ...
2821 2023-10-31 15:52:00    54  21157               21
2822 2023-10-31 17:13:00    47  16015               41
2823 2023-10-31 17:39:00    47   4065               41
2824 2023-10-31 17:40:00    47   4065               41
2825 2023-10-31 23:52:00    47  21290               41

[2826 rows x 4 columns]

In [11]:
ap_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2826 entries, 0 to 2825
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Дата             2826 non-null   datetime64[ns]
 1   Тема             2826 non-null   int64
 2   ID               2826 non-null   int64
 3   Группа вопросов  2826 non-null   int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 88.4 KB